@charset "utf-8";
@import "_variables.scss";

.edit-list {
  width: 1000px;
  margin: 0 auto;
}

.edit-list-form {
  color: $text_color;
}

.edit-list-title {
  width: 300px;
  margin-bottom: 25px;
}

.delete-list-button {
  color: $error_color;
  border: solid 1px $error_color;
  width: 80px;
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;
}

.edit-list-button {
  background-color: $main_color;
  color: $white;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: $error_color;
}