@charset "utf-8";
@import "_variables.scss";

.edit-task {
  width: 1000px;
  margin: 0 auto;
}

.edit-task-form {
  color: $text_color;
}

.edit-task-title,
.edit-task-detail {
  width: 300px;
  margin-bottom: 25px;
}

.delete-task-button {
  color: $error_color;
  border: solid 1px $error_color;
  width: 80px;
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;
}

.edit-task-button {
  background-color: $main_color;
  color: $white;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: $error_color;
}
