@charset "utf-8";
@import "_variables.scss";

.new-list {
  width: 1000px;
  margin: 0 auto;
}

.new-list-form {
  color: $text_color;
}

.new-list-title {
  width: 300px;
  margin-bottom: 25px;
}

.new-list-button {
  background-color: $main_color;
  color: $white;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}